<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>User Comment Example</h3>
        </div><!-- /col-sm-12 -->
    </div><!-- /row -->
    <div class="row">
        <div class="col-sm-1">
            <div class="thumbnail">
                <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
            </div><!-- /thumbnail -->
        </div><!-- /col-sm-1 -->

        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>myusername</strong> <span class="text-muted">commented 5 days ago</span>
                </div>
                <div class="panel-body">
                    Panel content
                </div><!-- /panel-body -->
            </div><!-- /panel panel-default -->
        </div><!-- /col-sm-5 -->

        <div class="col-sm-6">
            <div class="text-center">
                {{ form_start(form, { 'action': path('reviews'), 'method': 'POST'   }) }}
                {{ form_errors(form) }}

                <div class="comment-name">
                    {{ form_label(form.name, 'Введите Ваше имя:') }}
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name)}}

                    {{ form_label(form.comment, 'Прокомментируйте нашу работу:') }}
                    {{ form_errors(form.comment) }}
                    {{ form_widget(form.comment)}}
                </div>

                {{ form.submit.vars.submit }}
                {{ form_row(form.submit, { 'label': 'Добавить комментарий' })}}
            </div>
            {{ form_rest(form) }}
            <br>
        </div>
    </div><!-- /row -->

</div><!-- /container -->